<nav class="nav">
    <ul class="nav-ul">
        <li class="nav-btn"><a href="/">Home</a></li>
        <li class="nav-btn"><a href="/login">Login</a></li>
        <li class="nav-btn"><a href="/postVideo">Post video</a></li>
        <li class="nav-btn"><a href="/profile">Profile</a></li>
        <li class="nav-btn"><a href="/registration">Registration</a></li>
        <li class="nav-btn"><a href="/viewpost">Viewpost</a></li>
    </ul>
</nav>