<div class="post-container">
    <div class="post-info">
        <h1 class="post-text post-title">post title</h1>
        <div class="author-info">
            <h1 class="post-text post-author">post author</h1>
            <time class="post-text post-time">21:00</time>
        </div>
    </div>
    <div class="posted-video">
        <video class="video" controls>
            <source src="../public/src/sample.mp4" type="video/mp4"/>
        </video>
    </div>
    <div class="post-comment">
        <ul class="added-comment">
            <h2 class="comment-title">Comment</h2>
            <li>:)</li>
            <li>Good!</li>
        </ul>
        <form class="add-comment">
            <label for="post1-comment">♥</label>
            <input type="text"class="comment-input" name="post1-comment" id="post1-comment" placeholder="Add a comment">
            <input type="submit" class="button comment-btn" value="Add">
        </form>
    </div>
</div>