<li class="profile-post-list">
    <div class="post-container">
        <div class="post-info">
            <div class="post-header">
                <h1 class="post-text post-title">post title</h1>
                <form class="post-btn">
                    <input type="button"><i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i></input>
                    <input type="button"><i class="fa-regular fa-trash-can" style="color: #ffffff;"></i></input>
                </form>
            </div>
            <div class="author-info">
                <h1 class="post-text post-author">post author</h1>
                <time class="post-text post-time">21:00</time>
            </div>
        </div>
        <div class="posted-video">
            <video class="video" controls>
                <source src="public/src/sample.mp4" type="video/mp4"/>
            </video>
        </div>
        <div class="post-comment">
            <ul class="added-comment">
                <h2 class="comment-title">Comment</h2>
                <li><div><span class="comment-username">username</span><span class="comment-content">:)</span></div></li>
                <li><div><span class="comment-username">username</span><span class="comment-content">Good</span></div></li>
            </ul>
        </div>
    </div>
</li>