<div class="search-dropdown" id="search-dropdown">
    <button id ="button-search-dropdown"class="button-dropdown nav-btn nav-btn-btn">Search</button>
    <div id="search-dropdown-items" class="display-none">
        <form action="/posts/search" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="input" name="search" value="">
            <button class="nav-btn-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</div> 