<div class="dropdown-menu-nobs">
    <button class="button-dropdown nav-items">Hi, {{user.username}}</button>
    <div class="dropdown-menu-items">
        <a href="/users/profile/{{user.userId}}" class="nav-items">Profile</a>
        <form action="/users/logout" method="post">
            <input type="hidden" value="{{csrf}}">
            <button class="nav-items" type="submit">Log out</button>
        </form>
    </div>
</div>