<div class="dropdown-menu-nobs" id="dropdown-menu-nobs">
    <button class="button-dropdown nav-btn nav-btn-btn">Hi, {{user.username}}</button>
    <div class="dropdown-menu-items">
        <li class="nav-btn">
            <a href="/users/profile/{{user.userId}}">Profile</a>
        </li>
        <form action="/users/logout" method="post">
            <input type="hidden" value="{{csrf}}">
            <button class="nav-btn-btn" type="submit">Log out</button>
        </form>
    </div>
</div>