.profile-container{

    margin-top: 110px;

}

.profile-container h1{
    margin:30px 30px;
    font-size: 30px;
    display: flex;
}

.profile-post-lists {
    margin:30px 30px;
    display: flex;
    flex-direction: column;
}

.profile-post-lists li{
    margin-top: 50px;
}