<main>
    <div class="page-title">
    
    </div>
    <div id="contents-container" class="index-contents-container">
        {{#each posts}}
            <div class="index-main-content">
                <span class="main-content-title">{{this.title}}</span>
                <img class="content-img" src="/{{this.thumbnail}}">
                <a class="main-content-link" href="/posts/{{this.id}}">Go to post</a>
            </div>
        {{/each}}
    </div>
    
</main>
