<main class="contents-container">
    <div class="page-title">
        <h1>Welcome Back!</h1>
    </div>
    <div class="main-content">
        <form class="user-form" action="/users/login" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="user-form-container">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="user-form-container">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="password">
            </div>
            <div class="user-form-container login-btn-container">
                <input type="submit" class="login-btn button" value="Log in">
            </div>
        </form>
    </div>
</main>