<main class="contents-container">
    <div class="page-title">
        <h1>Profile</h1>
    </div>
    <div class="user-info">
        <h1>Username</h1>
        <h1>email</h1>
    </div>
    <ul class="profile-post-lists">
        <li class="profile-post-list">
            <div class="post-container">
                <div class="post-info">
                    <h1 class="post-text post-title">post title</h1>
                    <div class="author-info">
                        <h1 class="post-text post-author">post author</h1>
                        <time class="post-text post-time">21:00</time>
                    </div>
                </div>
                <div class="posted-video">
                    <video class="video" controls>
                        <source src="public/src/sample.mp4" type="video/mp4"/>
                    </video>
                </div>
                <div class="post-comment">
                    <ul class="added-comment">
                        <h2 class="comment-title">Comment</h2>
                        <li>:)</li>
                        <li>Good!</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="profile-post-list">post2</li>
        <li class="profile-post-list">post3</li>
    </ul>
</main>
