@import "reset.css";
@import "variables.css";

@import "screens/pages.css";

@import "components/user-form.css";
@import "components/post-form.css";
@import "components/button.css";
@import "components/post.css";
@import "components/profile.css";




body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  -ms- overflow -style: none; 
}

::-webkit-scrollbar {
  display: none;
}


main {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

