.post-container {
    width: var(--width);
    margin: 100px;
    border: 0.5px solid var(--side);
    border-radius: 15px;
    background-color: var(--post);
}

.post-info {
    display: flex;
    flex-direction: column;
}

.author-info{
    display: flex;
    justify-content: space-between;
}

.post-text {
    margin: 10px 30px;
    color: white;
}

.post-title {
    font-size: 45px;
}

.post-author {
    font-size: 25px;;
}

.post-time {
    font-size: 20px;
}

.posted-video {
    display:flex;
    justify-content: center;
    padding: 30px;
    background-color: white;
    height: var(--width);
}

.video {
    
}

.post-comment{
    display: flex;
    flex-direction: column;
}

.added-comment {
    margin: 0px 30px;
    margin-top: 25px;
    color: white;
    font-size: 18px;
    font-weight:500;
}

.added-comment li { 
    margin: 13px 0px;
}

.comment-title {
    margin-bottom: 18px;
    font-weight: 700;
}

.add-comment {
    display: flex;
    margin: 0px 30px;
    align-items: center;
    margin-bottom: 25px;
}

.add-comment label{
    font-size: 20px;
    margin-right: 7px;
    color: white;
}

.comment-input{
    border:none;
    background-color: var(--post);
    border-bottom: 1px solid var(--grey);
    padding: 8px;
    font-size: 15px;
    margin-right: 10px;
    font-weight: 700;
    color: white;
}

.comment-input::placeholder{
    color: var(--grey);
}

.comment-input:focus{
    outline: none;
    border-bottom: 1px solid white;
}


